  body {
    background-color: #04a76d ;
  }  
  
  .home-container {
    width: 100%;
    min-height:65vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: black;
  }

  .text-1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: -110px; 
    margin-bottom: -150px;
  }

  .search-content {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text-2 {
    font-size: 12px;
    color: rgb(119, 0, 0);
    font-weight: 600;
    margin-top: -260px; 
    margin-bottom: -150px;
  }

  .search-bar {
    width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -190px; 
    margin-bottom: -150px;
  }

  .box-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 500px;
  }

  .alert{
    margin: -5px;
  }

  .btn-secondary {
    width: 50px;
    border-radius: 50px;
    height: 50px;
    font-size: 10px;
    background-color:rgb(21, 16, 103);
    cursor: pointer;
    margin-bottom: 20px;
  }

  .btn-secondary:hover, .btn-secondar:focus {
    background-color:rgb(21, 16, 103);
    cursor: pointer;
  }

  .search-btn {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin: 10px;
  }

  input {
    padding: 5px;
    padding-left: 20px;
    text-align: left;
    font-size: 1.0em;
  }

  input::placeholder {
    text-align: center;
    font-size: 1.0em;
  }

  .search-checkbox {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -230px; 
  }

  .radio {
    cursor: pointer;
  }

  .checkbox {
    font-size: 12px;
    font-weight: 645;
    margin-left: -80px;
  }
