.hospitalModel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    height: 200px;
    background-image: url("https://media.istockphoto.com/id/1364075546/es/foto/pasillo-vac%C3%ADo-en-el-hospital-moderno-con-mostrador-de-informaci%C3%B3n-y-cama-de-hospital-en-las.jpg?s=612x612&w=0&k=20&c=etsqAKICzWoL521_ACpmy-6-TIw4cdj8EZqoqYnD5mc=");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    opacity: 0.75;
    cursor: pointer;
    color: black;
}

.link {
    text-decoration: none;
    color: #000;
}

.link:hover {
    text-decoration: none;
    color: #000;
}

.hospitalModel-container:hover {
    opacity: 2.5;
    transform: scale(1.02);
}

.box-image {
    
}

.selection-name {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.name-selection {
    display: grid;
    padding: 5px;
    text-align: center;
}

.alert-turnos-2 {
    color: red;
    margin: 0px 0px 0px 0px;
    font-weight: 800;
    font-size: 13px;
}