.turnoModel-container {
    display: flex;
    padding: 5px;
}

.card-turno {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:rgb(229, 226, 226);
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    width: 1350px;
}

.button-turno {
    color: white;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border-color:rgb(107, 107, 107);
    background-color:rgb(21, 16, 103);
  }

.value-turno {
    margin: 10px;
    font-size: 15px;
}

#especialidad {
    text-transform: capitalize;
}